<h3>{{listTitle}} : {{filteredFoods.length}}</h3>
{{#each filteredFoods as |eachFood|}}
  {{disposal-snippet food=eachFood
    routeUpdateFood='updateFood'
    routeDestroyFood='destroyFood'
  }}
{{/each}}
