@import 'bootstrap';
@import 'bootstrap/theme';

body {
  background-color: #E4E9E9;
}

div.image {
    content:url("../images/openfridge.jpg");
}
.food-image {
  width: 120%;
  margin-left: -80px;
}

.title {
  text-align: center;
  font-size: 50px;
}


hr
{
    border: 1px solid rgb(128, 128, 128);
}
