@import 'bootstrap';
@import 'bootstrap/theme';

body {
  background-image: url("../images/tile.jpg");
}

div.image {
    content:url("../images/openfridge.jpg");
}
.food-image {
  width: 120%;
  margin-left: -80px;
}

.title {
  text-align: center;
  font-size: 50px;
}
