
<div class="disposal-column">
  <div class="col-xs-4">{{disposal-list foods=model.food disposalType='ate'}}</div>
  <div class="col-xs-4">{{disposal-list foods=model.food disposalType='trash'}}</div>
  <div class="col-xs-4">{{disposal-list foods=model.food disposalType='donate'}}</div>
</div>
